<nav class="main-nav" id="main-nav">
    <a href="/" class="logo" id="site-logo">KROWY.net</a>
    <button class="menu-toggle" id="menu-toggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="nav-links" id="nav-links">
        <a href="/" class="nav-link">Strona główna</a>

        <div class="nav-item">
            <a href="/krowy/" class="nav-link">Krowy</a>
            <div class="dropdown">
                <a href="/krowy/pojecia/">Pojęcia</a>
                <a href="/krowy/typ-mleczny/">Typ mleczny</a>
                <a href="/krowy/typ-miesny/">Typ mięsny</a>
                <a href="/krowy/typ-uzytkowy-kombinowany/">Typ użytkowy kombinowany</a>
            </div>
        </div>

        <div class="nav-item">
            <a href="/rasy-bydla-mlecznego/" class="nav-link">Rasy bydła</a>
            <div class="dropdown">
                <div class="nav-subitem">
                    <a href="/rasy-bydla-mlecznego/">Bydła mleczne</a>
                    <div class="dropdown-submenu">
                        <a href="/rasy-bydla-mlecznego/bydlo-mleczne/ayrshire/">Ayrshire</a>
                        <a href="/rasy-bydla-mlecznego/bydlo-mleczne/angler/">Angler</a>
                        <a href="/rasy-bydla-mlecznego/bydlo-mleczne/bialogrzbieta/">Białogrzbieta</a>
                        <a href="/rasy-bydla-mlecznego/bydlo-mleczne/guernsey/">Guernsey</a>
                        <a href="/rasy-bydla-mlecznego/bydlo-mleczne/holsztynsko-fryzyjskie/">Bydło Holsztyńsko-
                            fryzyjskie</a>
                        <a href="/rasy-bydla-mlecznego/bydlo-mleczne/jersey/">Jersey</a>
                        <a href="/rasy-bydla-mlecznego/bydlo-mleczne/polska-czerwona/">Polska Czerwona</a>
                    </div>
                </div>
                <div class="nav-subitem">
                    <a href="/rasy-bydla-miesnego/">Bydła miesne</a>
                    <div class="dropdown-submenu">
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/bialobialo-bledkitna/">Belgijska biało-błękitna</a>
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/simental/">Simental</a>
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/aberdeen-angus/">Aberdeen angus</a>
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/brahman/">Brahman</a>
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/charolaise/">Charolaise</a>
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/hereford/">Hereford</a>
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/limousine/">Limousine</a>
                        <a href="/rasy-bydla-miesnego/bydlo-miesne/piemontese/">Piemontese</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="/zywienie/" class="nav-link">Żywienie</a>
            <div class="dropdown">
                <a href="/zywienie/pasze/">Pasze</a>
                <a href="/zywienie/pojenie-zwierzat/">Pojenie zwierzat</a>
            </div>
        </div>

        <a href="/mieso/" class="nav-link">Mieso</a>

        <div class="nav-item">
            <a href="/hodowle/" class="nav-link">Hodowla</a>
            <div class="dropdown">
                <a href="/hodowle/choroby-bydla/">Choroby bydła</a>
                <a href="/hodowle/piec-wolnosci-zwierzat/">Pięc Wolności Zwierząt</a>
            </div>
        </div>
        <div class="nav-item">
            <a href="/mleko/" class="nav-link">Mleko</a>
            <div class="dropdown">
                <a href="/mleko/pozyskiwanie-mleka/">Pozyskiwanie mleka</a>
            </div>
        </div>
        <a href="/kontakt/" class="nav-link">Kontakt</a>
    </div>
</nav>