{{define "page.html"}}{{template "site-open" (dict "Ctx" . "PageTitle" .Page.Title "Description" .Page.Excerpt "Canonical" (or .Canonical (.Page.GetCanonical .Domain)))}}
    <main class="main-content" id="main-content">
        <article class="page-content" id="page-{{.Page.Slug}}">
            <div class="container">
                <header class="page-header">
                    <h1 class="page-title">{{.Page.Title}}</h1>
                </header>
                <div class="page-body" id="page-body">
                    {{.Page.Content | safeHTML}}
                </div>
            </div>
        </article>
    </main>

{{template "site-close" .}}{{end}}