{{define "navigation.html"}}
<header class="site-header">
    <div class="container">
        <div class="header-inner">
            <a href="/" class="logo">imd<span>.agency</span></a>
            <nav class="nav-links">
                <a href="/seo-agency/" class="nav-link">Intelligence</a>
                <a href="/development/" class="nav-link">Development</a>
                <a href="/consultancy/" class="nav-link">Consultancy</a>
                <a href="/about/" class="nav-link">Agency</a>
            </nav>
            <a href="/about/contact/" class="btn">Start Project</a>
        </div>
    </div>
</header>
{{end}}